*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("src/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: sans-serif;
    font-size: 2.2rem;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    
    display: flex;
    flex-direction: column;
    background-color: rgba(43, 41, 41, 0.795);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 50px;
}
/* .header__text{
    
} */
.form{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__input{
    height: 35px;
    font-size: 1.2rem;
    width: 70%;
    background-color: #0f0f0f;
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
}
.form__searchBtn{
    margin: 0 15px;
    background: #0f0f0f;
    border-radius: 25px;
    border: none;
    padding: 5px;
    cursor: pointer;
}
.form__searchBtn:hover {
    background-color: #666;
}
.form__searchBtn:active {
  transform: translateY(2px);
}
.btnImg{
    width: 1.5rem;
    margin: 5px;
}
.weather{
    width: 500px;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    background-color: rgba(43, 41, 41, 0.795);
    margin-bottom: 10%;
    font-family: Monospace;
}
.loading{
    visibility: hidden;
    position: relative;
}
.loading::after{
    position: absolute;
    display: inline;
    top: 0;
    left: 0;
    padding: 25px;
    width: 450px;
    background-color: rgba(43, 41, 41, 0.795);
    visibility: visible;
    content: "Loading...";
}
.weather__header{
    display: flex;   
}
.weather__header-temp{
    font-size: 1.9rem;
    display: flex;
    align-items: center;
}
.weather__img{
    width: 100px;
    /* background-color: antiquewhite; */
}
.weather__header-city{
    position: absolute;
    top: 25px;
    right: 25px;
    margin-bottom: 10px;
    font-size: 1.7rem;
}
.weather__prop{
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}
.weather__prop-item{
    display: flex;
    flex-direction: column; 
}
.prop-left{
    align-items: flex-start;
    margin-left: 90px;
}
.prop-right{
    align-items:flex-end;
    margin-left: 65px;
}
.table{
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
}
.td__bold {
    font-weight: bold;
}
.td, 
.th__day{
    padding: 8px;
}